{% extends 'base.html.twig' %}

{% block contenedor_principal %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      Mis categorías
    </h6>
        {% include 'comunes/_mensajes.html.twig' %}
      <table class="table">
          <thead>
              <tr>
                  <th>
                      Nombre
                  </th>
                  <th>
                      Color
                  </th>
                  <th>
                      Acciones
                  </th>
              </tr>
          </thead>
          <tbody>
              {% for categoria in categorias %}
              <tr>
                  <td>
                      {{categoria.nombre}}
                  </td>
                  <td>
                      {{categoria.color}}
                  </td>
                  <td>
                      <div class="d-flex">                  
                          <a href="{{ path('app_editar_categoria', {id: categoria.id})}}" class="btn btn-link mg-3">
                              <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>
                          </a>
                          <a href="{{ path('app_eliminar_categoria', {id: categoria.id})}}" class="btn btn-link mg-3">
                              <span class="oi oi-delete" title="Eliminar" aria-hidden="true"></span>
                          </a>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
        <a href="{{ path('app_nueva_categoria')}}" class="btn btn-link mg-3">
            <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span> Nueva Categoria
        </a>
  </div>
{% endblock %}

